/* 
    Document   : forms
    Created on : 26.02.2013, 14:45:00
    Author     : tnikolay
    Description:
        Purpose of the stylesheet follows.
*/

input[type="radio"]{
    content: url('images.jpg');
}

input[type="radio"]:checked {
    content: url('images_checked.jpg');
}

